.inputLabel {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  color: rgb(0, 0, 0);
}

.inputWrap {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 3px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 -5px 15px rgba(0, 0, 0, 0.1),
    10px 0 15px rgba(0, 0, 0, 0.15), -10px 0 15px rgba(0, 0, 0, 0.15); /* Тінь по краях */
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 100%;
  line-height: 50px;
  border: none;
  padding: 0 20px;
  font-size: 24px;
  color: black;
  background-color: #ffffff;
  position: relative;
  z-index: 1; /* Текст завжди над шторкою */

  &:focus {
    outline: none;
  }
}

.inputWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(187, 155, 114); /* Колір шторки */
  z-index: 2; /* Шторка зверху інпуту */
  transition: transform 0.5s ease; /* Анімація підняття */
  transform: translateY(0); /* Початково закриває інпут */
}

.inputWrap:hover::before,
.inputWrap:focus-within::before {
  transform: translateY(-100%); /* Піднімає шторку повністю */
}
