.contactCard {
  display: flex;
  width: 400px;
  justify-content: space-between;
  border: 5px solid rgb(187, 155, 114);
  padding: 10px 15px 10px 20px;
  border-radius: 8px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 -5px 15px rgba(0, 0, 0, 0.3),
    15px 0 20px rgba(0, 0, 0, 0.35), -15px 0 20px rgba(0, 0, 0, 0.35); /* Тінь по краях */
}

.contactCardWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.contactCardItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
}

.iconUser,
.iconPhone {
  fill: rgb(187, 155, 114);
  width: 28px;
  height: 28px;
}

.deleteButton {
  /* color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    padding: 20px 20px;
    font-size: 24px;
    font-weight: 500;
    background-color: #5355fd;
    cursor: pointer; */
  /* height: 40px; */
  cursor: pointer;
  border: none;

  color: rgb(0, 0, 0);
  position: relative;
  padding: 10px 20px;
  background: rgb(187, 155, 114);
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  &:after,
  &:before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #ffffff;
    transition: all 1s;
  }
  &:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }
  &:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
  &:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    &:before,
    &:after {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 768px) {
  .contactCard {
    width: 100%;
    padding: 15px;
  }

  .contactCardItem {
    font-size: 20px;
  }

  .deleteButton {
    width: 30%;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .contactCard {
    width: 100%;
    padding: 10px;
  }

  .contactCardWrap {
    margin-right: auto;
  }

  .contactCardItem {
    font-size: 18px;
  }

  .deleteButton {
    width: 30%;
    font-size: 20px;
    padding: 12px 0;
  }
}
