.header {
  position: fixed;
  min-width: 100%;
  background-color: black;
  top: 0; /* Притискає до верху */
  left: 0;
  padding: 15px 0;
  z-index: 1000;
}

.title {
  color: #ffffff;
}

.link {
  color: white;
  font-size: 26px;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 20px;
}
.active {
  color: red;
  text-decoration: underline;
}
