body {
  background: url('/bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
}

@media (max-width: 768px) {
  body {
    background-size: auto 100%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
